.userManager{
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none !important;
        margin: 0;
    }
    .tableHeight{
        max-height: 500px!important;
    }
    .tableWidth{
        max-width: 100%!important;
    }
    .input{
        width: 180px;
        //border:1px solid #d4d8d6 ;
        .el-input__inner{
            background-color: #eef4f1;
            height: 30px;
        }
    }
    .tableInfo{
        clear: both;
        margin-top: 30px;
        padding-bottom: 0.1px;
        width: 100%;
        background: #fff;
        .el-table{
            th{
                text-align: center;
            }
            td{
                text-align: center;
            }
        }
    }
    //选择框
    .selectType{
        width: 70px;
        .el-input__inner{
            border: none;
            background-color: #eef4f1;
            color: #aeaeaf;
            padding: 0;
        }
        .el-input{
            font-size: 12px;
        }

    }
    .inputType{
        width: 218px;
    }
    .el-input__inner{
        border-radius: 2px;
    }
    label{
        color: #aeaeaf;
        font-size: 12px;
        margin-right: 10px;
    }
    .demonstration{
        color: #aeaeaf;
        font-size: 12px;
        margin-right: 10px;
    }
    .el-input__inner{
        background-color: #eef4f1;
    }
    .color{
        color: #aeaeaf;
        font-size: 12px;
    }
    .mr30{
        margin-right: 30px;
    }
    //时间插件
    .el-range-input{
        background: #eef4f1;
    }
    .el-date-editor .el-range-separator{
        color: #aeaeaf;
    }
    .fl{
        margin-bottom: 15px;
    }
    //搜索按钮
    .btn{
        float: right;
        width: 85px;
    }
}


